<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Update Distiller</title>
    </head>
    <body>
        <h4><a href="{% url 'beverages:index' %}">Home</a> | <a href="/logout">Logout</a></h4>
        <h3>Hello {{ request.session.user.alias }}</h3>
        <h3>Update Distiller Form</h3>
        <h2>{{ this_distiller.name_distiller }}</h2>
        <form class="" action="{% url 'beverages:update_distiller' this_distiller.id %}" method="post">
            {% csrf_token %}
            <p>
                <label for="name_distiller">Name: </label>
                <input type="text" name="name_distiller" value="{{ this_distiller.name_distiller }}">
            </p>
            <p>
                <label for="distiller_details">Details: </label>
                <input type="text" name="distiller_details" value="{{ this_distiller.distiller_details }}">
            </p>
            <input type="submit" name="submit_changes" value="Update">

        </form>
    </body>
</html>