<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Beverages</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'beverages/css/styles.css' %}">
    </head>
    <body>
        <div id="wrapper-outer">
            <div id="wrapper-inner">
                <h4>User: {{ request.session.user.first_name }} {{ request.session.user.last_name }} ({{ request.session.user.email }})</h4>
                <h4><a href="/logout">Logout</a></h4>
                <h3>Hello {{ request.session.user.alias }}</h3>
                <h1>Whisky and Bourbon Review</h1>
                <p><a href="{% url 'beverages:add_form' %}">Add Whiskey and Review</a></p>
                <table>
                    <thead>
                        <th>Whisky</th><th>Distiller</th><th>Favor Pts</th><th>Action</th>
                    </thead>
                    <tbody>
                        {% for whisky in whiskies %}
                            <tr>
                                <td><a href="{% url 'beverages:show_review' whisky.id %}">{{ whisky.name }}</a></td>
                                <td><a href="{% url 'beverages:distiller_info' whisky.distiller.id %}">{{ whisky.distiller.name_distiller }}</a></td>
                                <td class="favor-cell">{{ whisky.favor_total }}</td>
                                <td>
                                    <a href="{% url 'beverages:delete' whisky.id %}" class="inline-it">Delete</a> |
                                    <form class="inline-it" action="{% url 'beverages:favor' whisky.id %}" method="post">
                                        {% csrf_token %}
                                        <!-- <a href="{% url 'beverages:favor' whisky.id %}">1 Favor Point</a> -->
                                        <input type="submit" name="" value="+1 Favor Pt">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>