*{
    padding: 0;
    margin: 0;
}
body{
    font-family: verdana, sans-serif;
}
    #wrapper-outer{
        width: 70%;
        margin: 0 auto;
        /*background-color: #666;*/
        padding: 4px;

        /*background: #e0820f; /* Old browsers */*/
        /*background: -moz-linear-gradient(left,  #e0820f 0%, #8c3310 52%, #e0820f 100%); /* FF3.6-15 */*/
        /*background: -webkit-linear-gradient(left,  #e0820f 0%,#8c3310 52%,#e0820f 100%); /* Chrome10-25,Safari5.1-6 */*/
        /*background: linear-gradient(to right,  #e0820f 0%,#8c3310 52%,#e0820f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0820f', endColorstr='#e0820f',GradientType=1 ); /* IE6-9 */*/

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c3310+0,e0820f+52,8c3310+100 */
        background: #8c3310; /* Old browsers */
        background: -moz-linear-gradient(left,  #8c3310 0%, #e0820f 52%, #8c3310 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #8c3310 0%,#e0820f 52%,#8c3310 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #8c3310 0%,#e0820f 52%,#8c3310 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c3310', endColorstr='#8c3310',GradientType=1 ); /* IE6-9 */



    }
    #wrapper-inner{
        width: 65%;
        margin: 0 auto;
        background-color: #e0e0e0;
        padding: 5px;
    }
        a{
            color: #0b0a4a;
            text-decoration: none;
            /*border: 1px solid #fff;*/
            /*padding: 2px;*/
        }
        a:hover{
            color: #cb3400;
            text-decoration: none;
            /*font-weight: bold;*/
        }
        table{
            margin: 0 auto;
            min-width: 600px;
            border-collapse: collapse;
        }
        table, thead, th, tr, td{
            border: 1px solid #eb7717;
        }
        td{
            padding: 4px;
        }
        td.favor-cell{
            text-align: center;
            font-weight: bold;
            font-size: 110%;
            }
        .red{
            color: #eb7717;
        }
        h1,h2,h3,h4,h5,h6{
            margin: 5px 0 0 0;
        }
        button{
            padding: 3px;
        }
        .inline-it{
            display: inline;
        }
        .review-box{
            font-size: 85%;
            width: 500px;
            border: 1px solid #666;
            margin: 5px auto 0 auto;
            padding: 2px;
            border-radius: 4px;
            background-color: #f8e8d8;
        }
            .font-size-85{
                font-size: 85%;
            }